.App {
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.6em;
  color: white;
  width: 70%;
  margin: 0 auto;
}

.App-header > * {
  padding: 1em;
}

.App-header > span {
  margin-top: 1.5em;
}

.App-header > textarea {
  font-size: 1em;
}

.App-header .code {
  border: 1px solid gray;
  text-align: left;
  white-space: pre-wrap;
  font-size: 0.7em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
